* {
    margin: 0;
    padding: 0;
}

:root {
    background: linear-gradient(45deg, pink, purple);
}

#container {
    position: relative;
}

img {
    max-width: 100%;
    position: relative;
}

#title {
    position: absolute;
    font-size: 100px;
    top: 40%;
    left: 30%;
    background-color: rgba(154, 18, 179, 0.7) ;
    padding-left: 80px;
    padding-right: 80px;
    transform: skewX(15deg);
}

#title::before {
    content: "G-EAZY";
    transform: skewX(-15deg);
    display: inline-block;
    transform: skewX(-15deg);
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.2rem;
    grid-template-rows: 4rem;
    list-style: none;
    position: absolute;
    top: 0;
    width: 100%;
}

li {
    background-color: rgba(154, 18, 179, 0.7);
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}
li:hover {
    background-color: rgb(154, 18, 179);
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    list-style: none;
}

ul li:hover > ul, ul li ul:hover {
    visibility: visible;
    display: block;
    background-color: rgba(118, 4, 138, 0.75);
}

p {
    margin: 8rem;
    font-size: 1.5rem
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.item1 {
    font-size: 1.5rem;
    margin-left: 4rem;
    background-color: rgba(51, 255, 53, 0.5);
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px -10px;
    transition: transform 300ms, box-shadow 300ms;
    transition-delay: 200ms;
}

.item1:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 80px -10px;
}

.item1::before {
    content: 'S';
    font-size: 2rem;
}

.item2 {
    font-size: 1.5rem;
    margin-right: 4rem;
    background-color: rgba(51, 88, 255, 0.5);
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px -10px;
    transition: transform 300ms, box-shadow 300ms;
    transition-delay: 200ms;
}

.item2:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 80px -10px;
}

.item2:before {
    content: 'G';
    font-size: 2rem;
}

hr {
    background-color:rgba(154, 18, 179, 0.5);
    height: 0.5rem;
    margin: 1rem;
    border: 0rem;
}

footer {
    text-align: center;
    font-size: 1.5rem;
}

footer a {
    text-decoration: none;
    color:rgba(51, 88, 255, 1)
}